/* SOME COLOR DEFINITIONS */

:root {
    --button-text-color: #262D3D;
    --button-text-color-hover: #ffffff;
    --button-bg-color: #E1E3E7;
    --button-bg-color-hover: black;
}

/* NEO SKILLS TOP LOGO */

#bg-logo-top {
    background-image: url('https://webyazilim.web.tr/HM/img/bg_logo_top.png');
}

#background-div-top {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 400px;
    width: 800px;
    margin-top: 0;
}


/* BOTTOM HM & MUC.DAI BOTTOM LOGOS*/

#bg-logo-bottom1 {
    background-image: url('https://webyazilim.web.tr/HM/img/bg_logo_bottom1.png');
}

#bg-logo-bottom2 {
    background-image: url('https://webyazilim.web.tr/HM/img/bg_logo_bottom2.png');
}

#background-div-bottom {
    background-size: contain;
    background-repeat: no-repeat;
    position: bottom-left;
    height: 70px;
    width: 150px;
}

/* ? */

.md .svelte-8tpqd2 .chatbot .prose {
    font-size: 20px;
}

/* ? */

.gradio-container {
    margin: 0 !important
}

/* CHATBOT USER MESSAGE BUBBLE  */

.bubble-wrap .message-wrap .message.user {
    background-color: #26E3BE;
    border: none;
    color: black !important;
}

.gradio-container .bubble-wrap .message-wrap .chat-message.user {
    /* background-color: transparent; */
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

/* CHATBOT BOT MESSAGE BUBBLE */

.bubble-wrap .message-wrap .message.bot {
    background-color: var(--block-background-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.gradio-container .bubble-wrap .message-wrap .chat-message.bot {
    background-color: rgba(240, 255, 240, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.bubble-wrap .message-wrap .message.loading {
    background-color: var(--block-background-color);
    color: red;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

/* .md .svelte-8tpqd2 .chatbot .prose p {
    color: #050118;
} */

/* CHATBOT USER MESSAGE BUBBLE TEXT COLOR */

.message.user p {
    color: #050118;

}

/* ? */
.bubble-wrap .message {
    background-color: var(--block-background-color);
    color: #333333;
}

/* .md.svelte-8tpqd2.chatbot.prose {
    background-color: rgba(255, 255, 255, 0.8);
} */



body {
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    background-color: #050118;
}

html,
body,
.column {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow: hidden; */
    align-items: center;
}

/* .gradio-container .exercise-item:hover {
    color: #3498db;
} */

/* SUPPOSE CACHED EXAMPLES CONTAINER BG AND HOVER COLOR */
.gallery-item {
    background-color: var(--button-bg-color);
    border: none;
    color: var(--button-text-color);
    padding: 5px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.gallery-item:hover {
    background-color: var(--button-bg-color-hover);
    color: var(--button-text-color-hover);
}

/* ? */

#component-18 {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 2000px;
    margin: 50px auto;
    border: 1px solid #ccc;
}

/*undo button*/
#component-5,
/*clear button*/
#component-6 {
    /* background-color: var(--button-bg-color); */
    color: #050118;
    border: none;
}

/* WHOLE SCREEN */

#component-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* LEFT AND RIGHT COLUMNS OF THE SCREEN */
#component-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    margin: auto;
}

/* .container {
    height: 100%;
    display: flex;
    flex-direction: column;
} 
*/

/* LEFT COLUMN */

#component-4 {
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding-bottom: 50px;
}

/* RIGHT COLUMN */

#component-10 {
    width: 100%;
}

/* CHATBOT TEXTBOX AREA */
#component-7 {
    padding: 0%;
    background-color: white;
    border: 1px solid white;
}


/* .gradio-container.gradio-container-4-37-2.svelte-182fdeq.app {
    margin: 0px;
    justify-content: center;
    align-items: center;

} */

/* ? */

.gradio-container .gradio-container-4-37-2 .svelte-182fdeq .app {
    min-height: initial;
    flex-grow: 1;
}

/* NOT TO DISPLAY GRADIO LOGO AT THE BOTTOM */

footer {
    display: none !important
}

/* input field */
div.svelte-sfqy0y {
    display: flex;
    flex-direction: inherit;
    flex-wrap: wrap;
    gap: var(--form-gap-width);
    box-shadow: var(--block-shadow);
    border: 1px solid white;
    border-radius: 8px;
    background: var(--border-color-primary);
    overflow-y: hidden;
}